*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin: 30px;
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
}

section{
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
}

.bttn{
    background-color: #030308;
    border-radius: 50px;
    color: #fff;
    display: block;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    display: block;
    margin: 0 auto;
}

.genres > li {
    display: inline-block;
    margin-top: 2rem;
}

.genres > li + li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.genre > a{
    background-color: rgb(67, 153, 224);
    color: #ffffff;
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
}

.see-more > a{
    background-color: black;
    color: #ffffff;
    display: inline-block;
    padding: 15px;
    margin: 0 auto;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

footer{
    color: #ffffff;
    background-color: black;
    padding: 20px;
    text-align: center;
}